[user]
	name = Onur Arıkan
	username = opethef10
	email = onur93arikan@gmail.com
[init]
	defaultBranch = main
[includeIf "gitdir:~/technarts/"]
  path = .gitconfig-technarts
[safe]
	directory = .
[core]
	autocrlf = input
	eol = lf
	filemode = false
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RF
[alias]
	adog = log --all --decorate --oneline --graph
	hotfix-finish = "!f() { GIT_MERGE_AUTOEDIT=no git flow hotfix finish -m \"tag\" -p \"$1\"; }; f"
	release-finish = "!f() { GIT_MERGE_AUTOEDIT=no git flow release finish -m \"tag\" -p \"$1\"; }; f"
[push]
	followTags = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
[difftool]
	prompt = false

[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
