[user]
	name = Onur Arıkan
	username = opethef10
	email = onur93arikan@gmail.com
[init]
	defaultBranch = main
[safe]
	directory = .
	directory = .
	directory = /mnt/d/gdrive/kod/py/chat_analysis/
	directory = D:/gdrive/kod/py/chat_analysis/
	directory = /mnt/d/gdrive/kod/github/formula1turkiye.pythonanywhere.com
[core]
	autocrlf = input
	eol = lf
	filemode = false
	editor = vim
[alias]
	adog = log --all --decorate --oneline --graph
	hotfix-finish = "!f() { GIT_MERGE_AUTOEDIT=no git flow hotfix finish -m \"tag\" -p \"$1\"; }; f"
	release-finish = "!f() { GIT_MERGE_AUTOEDIT=no git flow release finish -m \"tag\" -p \"$1\"; }; f"
[push]
	followTags = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
[difftool]
	prompt = false

